@font-face {
  font-family: ptsans;
  src: url(../Fonts/ptsans/PT_Sans-Web-Regular.ttf);
}
@font-face {
  font-family: bodon;
  src: url(../Fonts/BodoniFLF/BodoniflfRoman-vmAD.ttf);
}
@font-face {
  font-family: rafelya;
  src: url(../Fonts/Rafelya-carrotin/RafelyaCarrotin-3zwKp.ttf);
}
@font-face {
  font-family: iconmoon;
  src: url(../Fonts/iconmoon/iconmoon.ttf);
}
*{
  cursor: url(../Images/cursor.png) 20 15, default;
}
body {
  background-color: #08090C;
  width:100vw;
  height:100vh;
  margin: 0;
  padding: 0;
  display:unset;
  overflow-x:hidden;
}
a {
  cursor:url(../Images/cursor.png) 20 15, default;
}
#windowSizeAlert {
  position:fixed;
  background-color:#ffd500;
  width:100vw;
  height:100vh;
  z-index:10000;
  display:none;
  overflow:scroll;
}
  #windowSizeAlert h5 {
    position:relative;
    font-family:ptsans;
    font-size:40px;
    color:#08090C;
    padding:10px;
  }
  #windowSizeAlert button {
    position:relative;
    display:none;
    background-color:#08090C;
    color:#ffd500;
    font-family:ptsans;
    font-size:15px;
    border:none;
    padding:10px;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
    margin-bottom:30px;
  }
  #windowSizeAlert button:hover {
    color:#08090C;
    background-color:#ffd500;
    font-family:ptsans;
    font-size:15px;
    border:none;
    padding:10px;
  }
.pageSection {
  position:absolute;
  margin-top:-15vh;
}
#header {
  background-color: #08090C;
  position: fixed;
  z-index: 110;
  left:0;
  right:0;
  top:0;
  width:100vw;
  height:15vh;
}
  #headerCompanyLogo {
    position:relative;
  }
  #logoRed, #logoWhiteTop, #logoWhite, #logoGold {
    width:8vh;
    position:absolute;
    top:4vh;
    left:4vh;
    opacity:1;
  }
  #headerCompanyName {
    position: absolute;
    font-size: 2.5vh;
    color: white;
    font-family: ptsans;
    top:6vh;
    left:16vh;
    transition: .5s linear;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
    -ms-transition: all .5s linear;
  }
    #headerCompanyName:hover {
      color: #ffd500;
      transition: .5s linear;
      -webkit-transition: all .5s linear;
      -moz-transition: all .5s linear;
      -o-transition: all .5s linear;
      -ms-transition: all .5s linear;
    }
    #headerCompanyName>span {
      display: inline;
      margin-left:-0.6vh;
    }
    #headerCompanyName>span:after {
      width: 0px;
      overflow: hidden;
      display: inline-block;
      vertical-align: bottom;
      transition: .5s linear;
      -webkit-transition: all .5s linear;
      -moz-transition: all .5s linear;
      -o-transition: all .5s linear;
      -ms-transition: all .5s linear;
    }
    #headerCompanyName>span:nth-child(1):after {
      content: 'anada-';
      color: white;
    }
    #headerCompanyName>span:nth-child(2):after {
      content: 'hina ';
      color: white;
    }
    #headerCompanyName>span:nth-child(3):after {
      content: 'ultural ';
      color: white;
    }
    #headerCompanyName>span:nth-child(4):after {
      content: 'evelopment ';
      color: white;
    }
    #headerCompanyName>span:nth-child(5):after {
      content: 'ssociation ';
      color: white;
    }
    #headerCompanyName:hover span:nth-child(1):after {
      width: 7.9vh;
    }
    #headerCompanyName:hover span:nth-child(2):after {
      width: 6vh;
    }
    #headerCompanyName:hover span:nth-child(3):after {
      width: 8.5vh;
    }
    #headerCompanyName:hover span:nth-child(4):after {
      width: 14vh;
    }
    #headerCompanyName:hover span:nth-child(5):after {
      width: 20vh;
    }
  #headerHome {
    position:absolute;
    font-size: 2.5vh;
    color: white;
    font-family: ptsans;
    top:6vh;
    right:75vh;
    transition: .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
  }
    #headerHome:hover {
      color:#ffd500;
    }
  #headerAboutdropdown {
    position:absolute;
    top:6vh;
    right:19vh;
    width:15vh;
  }
    #headerAbout {
      position:relative;
      font-size: 2.5vh;
      padding-left:1.5vh;
      color: white;
      font-family: ptsans;
      transition: .3s linear;
      -webkit-transition: all .3s linear;
      -moz-transition: all .3s linear;
      -o-transition: all .3s linear;
      -ms-transition: all .3s linear;
      background: none;
      border: none;
      margin-bottom: 3vh;
    }
    #headerAboutdropdown a, #headerEventsdropdown a {
      text-decoration:none;
      border:none;
    }
    #headerAboutContent div{
      color: white;
      font-size:2.5vh;
      font-family: ptsans;
      margin-bottom: 2vh;
      position:relative;
      padding-left:1.5vh;
    }
    #headerAboutContent a{
      color: white;
      font-family: ptsans;
      text-decoration: none;
      transition: all .3s linear;
      -webkit-transition: all .3s linear;
      -moz-transition: all .3s linear;
      -o-transition: all .3s linear;
      -ms-transition: all .3s linear;
    }
    #headerAboutContent a:hover{
      color: #ffd500;
      transition: all .3s linear;
      -webkit-transition: all .3s linear;
      -moz-transition: all .3s linear;
      -o-transition: all .3s linear;
      -ms-transition: all .3s linear;
    }
    #headerAboutContent {
      background-color: #08090C;
      width:18vh;
      height:20vh;
      display:none;
      white-space: nowrap;
    }
    #headerEducationdropdown {
      position:absolute;
      top:6vh;
      right:37vh;
      width:15vh;
    }
      #headerEducation {
        position:relative;
        font-size: 2.5vh;
        padding-left:1.5vh;
        color: white;
        font-family: ptsans;
        transition: .3s linear;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        -o-transition: all .3s linear;
        -ms-transition: all .3s linear;
        background: none;
        border: none;
        margin-bottom: 3vh;
      }
      #headerEducationdropdown a {
        text-decoration:none;
        border:none;
      }
      #headerEducationContent div{
        color: white;
        font-size:2.5vh;
        font-family: ptsans;
        margin-bottom: 2vh;
        position:relative;
        padding-left:1.5vh;
      }
      #headerEducationContent a{
        color: white;
        font-family: ptsans;
        text-decoration: none;
        transition: all .3s linear;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        -o-transition: all .3s linear;
        -ms-transition: all .3s linear;
      }
      #headerEducationContent a:hover{
        color: #ffd500;
        transition: all .3s linear;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        -o-transition: all .3s linear;
        -ms-transition: all .3s linear;
      }
      #headerEducationContent {
        background-color: #08090C;
        width:25vh;
        height:20.5vh;
        display:none;
        white-space: nowrap;
      }
  #headerContactUs {
    position:absolute;
    font-size: 2.5vh;
    color: white;
    font-family: ptsans;
    top:6vh;
    right:8vh;
    transition: .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
  }
  #headerEventsdropdown {
    position:absolute;
    top:6vh;
    right:52vh;
    width:15vh;
  }
    #headerEvents {
      position:relative;
      font-size: 2.5vh;
      padding-left:1.5vh;
      color: white;
      font-family: ptsans;
      transition: .3s linear;
      -webkit-transition: all .3s linear;
      -moz-transition: all .3s linear;
      -o-transition: all .3s linear;
      -ms-transition: all .3s linear;
      background: none;
      border: none;
      margin-bottom: 3vh;
    }
    #headerEventsContent div{
      color: white;
      font-size:2.5vh;
      font-family: ptsans;
      margin-bottom: 2vh;
      position:relative;
      padding-left:1.5vh;
    }
    #headerEventsContent a{
      color: white;
      font-family: ptsans;
      text-decoration: none;
      transition: all .3s linear;
      -webkit-transition: all .3s linear;
      -moz-transition: all .3s linear;
      -o-transition: all .3s linear;
      -ms-transition: all .3s linear;
    }
    #headerEventsContent a:hover{
      color: #ffd500;
      transition: all .3s linear;
      -webkit-transition: all .3s linear;
      -moz-transition: all .3s linear;
      -o-transition: all .3s linear;
      -ms-transition: all .3s linear;
    }
    #headerEventsContent {
      background-color: #08090C;
      width:16vh;
      height:9.6vh;
      display:none;
      white-space: nowrap;
    }
    #headerContactUs {
      position:absolute;
      font-size: 2.5vh;
      color: white;
      font-family: ptsans;
      top:6vh;
      right:8vh;
      transition: .3s linear;
      -webkit-transition: all .3s linear;
      -moz-transition: all .3s linear;
      -o-transition: all .3s linear;
      -ms-transition: all .3s linear;
    }
  #headerAbout:hover, #headerEducation:hover, #headerEvents:hover, #headerContactUs:hover {
    color: #ffd500;
    transition: .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
    border:none;
  }
hr {
  position:relative;
  width:90vw;
  border-top: solid 2px white;
  border-bottom: none;
}
#educationIntro {
  position:relative;
  height:100vh;
  width:100vw;
  overflow:hidden;
  z-index:101;
  display:block;
  margin-bottom:0;
}
  #educationIntro img {
    position:relative;
    top:0;
    left:0;
    width:100vw;
    height:auto;
    object-fit:cover;
    margin-bottom:0;
  }
  #title {
    position:absolute;
    top:0;
    right:0;
    width:100vw;
    margin-bottom:0;
    height:auto;
  }
  #educationIntroTitle{
    position:absolute;
    top:27vh;
    color:white;
    font-size:10vh;
    font-family: rafelya;
    font-weight:bold;
    opacity:0;
    margin-bottom:0;
    right:20vw;
    transition: all 1s linear;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    -ms-transition: all 1s linear;
  }
  #educationIntroSubtitle{
    position:absolute;
    top:43vh;
    right:20vw;
    margin-bottom:0;
    color:#08090C;
    font-size:1.2vw;
    font-family: ptsans;
    font-weight:bold;
    opacity:0;
    background-color:#ffd500;
    padding:1.5vh;
    border-radius:25px;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
  }
#education1 {
  display:block;
  position:relative;
  margin-top:0;
  width:100vw;
  height:100vh;
  background-image:url(../Images/masterclassCollage.jpg);
  background-size:cover;
  background-attachment: fixed;
}
  #education1 h4{
    position:absolute;
    border-radius:25px;
    top:10vw;
    text-align:center;
    left:25vw;
    color:white;
    margin-left:10vw;
    background-color:#1C2225;
    height:auto;
    width:30vw;
    padding:2vw;
    font-size:4vw;
    border: #1c2225 solid 2px;
    font-family:ptsans;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
  }
  #education1 img {
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
  }
#education2 {
  position:relative;
}
  #education2 h3 {
    color:white;
    font-family:ptsans;
    font-size:6vw;
    position:relative;
    padding-left:5vw;
    margin-bottom:2vw;
  }
  #education2 h5 {
    color:white;
    font-family:rafelya;
    font-size:6vw;
    position:relative;
    padding-left:5vw;
    margin-top:0;
    margin-bottom:2vw;
  }
  #education2 p {
    margin-top:0;
    position:relative;
    margin-left:5vw;
    margin-right:5vw;
    color:white;
    font-family:ptsans;
    font-size:1.5vw;
    margin-bottom:5vw;
  }
  #education21 {
    position:relative;
    display:inline-block;
    width:28vw;
    height:auto;
    vertical-align:top;
    margin-right:2vw;
    background-color:#1c2225;
    border-radius:15px;
    overflow:hidden;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
  }
  #education22 {
    position:relative;
    display:inline-block;
    width:28vw;
    height:auto;
    vertical-align:top;
    margin-right:2vw;
    border-radius:15px;
    background-color:#1c2225;
    overflow:hidden;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
  }
  #education23 {
    position:relative;
    display:inline-block;
    width:28vw;
    vertical-align:top;
    height:auto;
    border-radius:15px;
    background-color:#1c2225;
    overflow:hidden;
    margin-bottom:3vw;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
  }
  #education2 div:hover {
    background-color:#2C353A;
  }
  #education2 div h4 {
    position:absolute;
    color:#1C2225;
    font-family:bodon;
    font-size:4vw;
    left:2vw;
    top:19vw;
    white-space: nowrap;
  }
  #education2 div img {
    position:relative;
    height:30vw;
    width:28vw;
    object-fit:cover;
  }
  #education2 div p {
    position:relative;
    margin-left:0;
    top:0;
    height:auto;
    margin-bottom:0;
    padding:2vw;
    width:24vw;
    text-align:left;
  }
#education3 {
  position:relative;
  border-bottom:solid white 2px;
  margin-bottom:5vw;
}
  #education3 h4 {
    position:relative;
    display:block;
    color:white;
    font-family:ptsans;
    font-size:4vw;
  }
  #education3 h3 {
    width:100vw;
    height:auto;
    margin-bottom:0;
    border-top:solid white 2px;
    margin-top:0;
    color:white;
    font-family:ptsans;
    font-size:3vw;
  }
  #education3 h3:hover {
    font-style:italic;
  }
  #education31 {
    padding-left:30vw;
  }
  #education32 {
    padding-left:20vw;
  }
  #education33 {
    padding-left:50vw;
  }
  #education34 {
    padding-left:40vw;
  }
#education4 {
  position:relative;
}
  #education4 a {
    text-decoration:none;
  }
  #education4 div {
    position:relative;
    height:20vw;
    width:86vw;
    left:5vw;
    border-radius:25px;
    background-color:#1C2225;
    padding:2vw;
    margin-bottom:2vw;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
  }
  #education4 img {
    position:absolute;
    height:24vw;
    top:0;
    right:0;
    width:46vw;
    object-fit:cover;
    border-top-right-radius:25px;
    border-bottom-right-radius:25px;
  }
  #education4 h3 {
    position:relative;
    color:white;
    font-family:ptsans;
    font-size:3vw;
    margin-top:0;
    width:30vw;
  }
  #education4 p {
    width:30vw;
    position:relative;
    color:white;
    font-family:ptsans;
    font-size:1.5vw;
    margin-top:0;
  }
  #education4 h4 {
    position:relative;
    color:#08090c;
    text-decoration:none;
    padding:1vw;
    margin-top:2vw;
    background-color:#FFD500;
    border-radius:25px;
    font-family:ptsans;
    width:8vw;
    text-align: center;
    font-size:1.5vw;
    border:solid #ffd500 2px;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
  }
  #education4 div:hover {
    background-color:#2C353A;
  }
  #education4 h4:hover {
    color:white;
    border:solid white 2px;
    background-color:#08090c;
  }
#education5 {
  margin-top:5vw;
  position:relative
}
  #education5 h3 {
    position:relative;
    color:white;
    font-size:3vw;
    font-family:ptsans;
    margin-left:5vw;
  }
  #education5 p {
    position:relative;
    color:white;
    font-size:1.5vw;
    font-family:ptsans;
    margin-left:5vw;
    width:42vw;
    display:inline-block;
  }
#education6 {
  margin-top:2vw;
  position:relative;
}
  .mastersdiv {
    position:relative;
    margin-left:5vw;
    display:inline-block;
    font-family:ptsans;
    font-size: 1.5vw;
    width:38vw;
    color:white;
    vertical-align:top;
    padding:2vw;
    background-color:#1c2225;
    border-radius:25px;
    margin-bottom:5vw;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
  }
  .mastersdiv:hover {
    background-color:#2c353A;
  }
  .mastersdiv h5{
    font-size:3vw;
    margin-bottom:0;
    margin-top:0;
  }
  .mastersdiv h6{
    font-style:italic;
    color:#C0C0C0;
    font-size:2vw;
    margin-top:0;
    margin-bottom:0;
  }
#footer {
    display:block;
    background-color:#08090C;
    width:100vw;
    height:20vw;
    color:white;
    position:absolute;
    z-index:101;
  }
    #backToTopButton {
      position:absolute;
      right:5vw;
      top:10vh;
    }
      #backToTopButton img {
        position:absolute;
        top:0;
        right:0;
        width:8vw;
        height:auto;
      }
      #backToTopFill {
        opacity:0;
        transition: all .3s linear;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        -o-transition: all .3s linear;
        -ms-transition: all .3s linear;
      }
      #backToTopFill:hover {
        opacity:1;
        transition: all .3s linear;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        -o-transition: all .3s linear;
        -ms-transition: all .3s linear;
      }
    #footerLogoDiv {
      position:absolute;
      left:5vw;
      top:5vh;
    }
      #footerLogoDiv a img{
        width:5vw;
        height:auto;
      }
      #footerLogoDiv p {
        font-family: rafelya;
        font-size: 1.5vw;
      }
      .footerDiv {
        position:relative;
      }
    #footer2 {
      position:absolute;
      left:45vw;
      top:5vh;
    }
      .footerDiv a, .footerDiv p, .footerDiv h3 {
        color:white;
        text-decoration:none;
        font-family:ptsans;
        transition: all .3s linear;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        -o-transition: all .3s linear;
        -ms-transition: all .3s linear;
        font-size: 1.3vw;
        display: inline;
      }
      .footerDiv h3 {
        font-size: 1.5vw;
        display:block;
      }
      .footerDiv a:hover {
        color:#ffd500;
        font-family:ptsans;
        transition: all .3s linear;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        -o-transition: all .3s linear;
        -ms-transition: all .3s linear;
      }
    #mc_embed_signup {
        position:relative;
    }
      #mc_embed_signup_scroll label{
        position:relative;
        color:white;
        font-family:ptsans;
        margin-top:10px;
        font-size:2vw;
        display:block;
        margin-bottom:10px;
      }
      #mce-EMAIL {
        position:relative;
        display:inline-block;
        font-family:ptsans;
        font-size:1vw;
        padding-left:2px;
        padding-right:2px;
        width:20vw;
        color: #ffd500;
        height:2vw;
        background-color: #08090C;
        border: solid 2px #ffd500;
          display:inline-block;
      }
      ::placeholder {
        color:#ffd500;
        padding-left:2px;
      }
      #mc-embedded-subscribe {
        background-color:#ffd500;
        color: #08090C;
        font-family:ptsans;
        font-size:1vw;
        width:6vw;
        height:calc(2vw + 6px);
        display:inline-block;
        border:none;
        transition: all .2s linear;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -o-transition: all .2s linear;
        -ms-transition: all .2s linear;
      }
      #mc-embedded-subscribe:hover {
        background-color:#08090C;
        color: #ffd500;
        transition: all .2s linear;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -o-transition: all .2s linear;
        -ms-transition: all .2s linear;
      }
